body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.container {
    height: 100vh;
    position: relative;
}

.full-body {
    display: flex;
}

.pattern1 {
    width: 15vw;
    height: 100vh;
}

.main {
    width: 100%;
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    padding-left: 5%;
    padding-top: 1%;
}

.pattern2 {
    position: absolute;
    right: 0;
    height: 100vh;
    width: 15vw;
}

.top-line {
    margin-top: 0;
    height: 1.3vh;
    margin-bottom: 0;
    background-color: red;
}


.bank-logo {
    height: 15vh;
}

.bank-name {
    font-size: 65px;
    font-family: 'Righteous', cursive;
}

.line {
    margin-left: 5.5%;
    width: 70%;
    height: 0.6vh;
    background-color: red;
}

.welcome1 {
    display: flex;
    align-items: center;
    padding-top: 5rem;
    width: 80%;
    justify-content: center;
}

.welcome {
    font-size: 50px;
    font-family: 'Stylish', sans-serif;
    font-weight: 900;
}

.button1 {
    width: 77%;
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.button {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid red;
    background-color: red;
    color: white;
    border-radius: 15px;
    cursor: pointer;
}

.link {
    text-decoration: none;
    color: white;
    font-family: 'Stylish', sans-serif;
}
